---
import { WORK } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'

import { EXPERIENCE } from '../lib/constants'
---

<BaseLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {WORK.TITLE}
      </h2>
    </TopLayout>
    <BottomLayout>
      <ul>
        {
          EXPERIENCE.map((entry) => (
            <li class="animate mt-6 border-b border-black/10 py-6 first:mt-0 first:pt-0 last:border-none dark:border-white/25">
              {/* 日付 */}
              <div class="mb-2 text-xs uppercase tracking-wide text-gray-600 dark:text-gray-400">
                {entry.start} - {entry.end}
              </div>

              {/* プロジェクト名 */}
              <a
                target="_blank"
                href={entry.link ?? ''}
                class={`mb-2 block text-lg font-bold ${
                  entry?.link
                    ? 'text-primary hover:underline'
                    : 'text-foreground'
                }`}
              >
                {entry.project}
              </a>

              {/* 役職 */}
              <div class="mb-2 text-sm font-medium text-gray-800 dark:text-gray-200">
                {entry.position}
              </div>

              {/* 概要 */}
              <article class="prose dark:prose-invert text-sm">
                {entry.description.map((i) => (
                  <>{i}</>
                ))}
              </article>
            </li>
          ))
        }
      </ul>
    </BottomLayout>
  </main>
</BaseLayout>
